<div class="share" role="region" aria-label="Compartir">
<strong aria-hidden="true">Compartir</strong>
        <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&via={{site.twitter_username}}&related={{site.twitter_username}}" rel="nofollow" target="_blank">Compartir en Twitter</a>
    <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" rel="nofollow" target="_blank">Compartir en Facebook</a>
	<a href="whatsapp://send?text={{site.url}}{{page.url}}" rel="nofollow" target="_blank">Compartir en WhatsApp</a>
    <a href="https://t.me/share/url?url={{site.url}}{{page.url}}" rel="nofollow" target="_blank">Compartir en Telegram</a>
</div>

